
    <div class="burgerContainer" name="burger">
        <div class="seeds">
            <div class="seeds1"></div>
            <div class="seeds2"></div>
            <div class="seeds3"></div>
            <div class="seeds4"></div>
            <div class="seeds5"></div>
            <div class="seeds6"></div>
            <div class="seeds7"></div>
        </div>
        <div class="breadTop"></div>
        <div class="salad"></div>
        
        <div class="bacon">
            <div class="bacon1"></div>
            <div class="bacon2"></div>
            <div class="bacon3"></div>
        </div>
        <div class="tomato">
            <div class="tomato1"></div>
            <div class="tomato2"></div>
        </div>
        <div class="tomatoes"></div>
        <div class="cheese"></div>
        <div class="meat"></div>
        <div class="cheese"></div>
        <div class="meat"></div>
        <div class="breadBottom"></div>
    </div>
    

